###########################################
#project specific
###########################################
/src/main/webapp/dist


#########################################
#Node
#########################################
/node/**
/node_modules/**


########################################
# SASS
########################################
.sass-cache/**

########################################
#Eclipse
########################################
*.pydevproject
.project
.metadata
bin/**
/tmp/**
/tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/**
.loadpath
/src/main/resources/rebel.xml
.factorypath
.springBeans

#External tool builders
.externalToolBuilders/**

#CDT-specific
.cdproject

#PDT-specific
.buildpath


###########################################
#Intellij
###########################################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig


#############################################
#Maven
############################################
/log/**
/target/**
*/target?**


############################################
#Gradel
############################################
.gradle/**


#############################################
#Package Files
##############################################
*.jar
*.war
*.ear
*.db

############################################
# Windows
############################################
#Windows image file caches
Thumbs.db

#Folder config file
Desktop.ini


############################################
#Mac OSx
############################################
.DS_Store
.svn

#Thumbnails
._*


#Files That Might Appear on External Disk
.Spotlight-V100
.Trashes


##########################################
#Directories
############################################
/build/**
/bin/**
/spring_loaded/**
/deploy/**

###########################################
# Logs
###########################################
*.log


###########################################
# Others
###########################################
*.class
*.*~
*~
.merge_file*


###############################################
#Gradle Wrapper
#############################################
!gradle/wrapper/gradle-wrapper.jar

############################################
#Maven Wrapper
############################################
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
/.apt_generated/

###########################################
#project specific
###########################################
/src/main/webapp/dist


#########################################
#Node
#########################################
/node/**
/node_modules/**


########################################
# SASS
########################################
.sass-cache/**

########################################
#Eclipse
########################################
*.pydevproject
.project
.metadata
bin/**
/tmp/**
/tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/**
.loadpath
/src/main/resources/rebel.xml
.factorypath
.springBeans

#External tool builders
.externalToolBuilders/**

#CDT-specific
.cdproject

#PDT-specific
.buildpath


###########################################
#Intellij
###########################################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig


#############################################
#Maven
############################################
/log/**
/target/**
*/target?**


############################################
#Gradel
############################################
.gradle/**


#############################################
#Package Files
##############################################
*.jar
*.war
*.ear
*.db

############################################
# Windows
############################################
#Windows image file caches
Thumbs.db

#Folder config file
Desktop.ini


############################################
#Mac OSx
############################################
.DS_Store
.svn

#Thumbnails
._*


#Files That Might Appear on External Disk
.Spotlight-V100
.Trashes


##########################################
#Directories
############################################
/build/**
/bin/**
/spring_loaded/**
/deploy/**

###########################################
# Logs
###########################################
*.log


###########################################
# Others
###########################################
*.class
*.*~
*~
.merge_file*


###############################################
#Gradle Wrapper
#############################################
!gradle/wrapper/gradle-wrapper.jar

############################################
#Maven Wrapper
############################################
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
/.apt_generated/

###########################################
#project specific
###########################################
/src/main/webapp/dist


#########################################
#Node
#########################################
/node/**
/node_modules/**


########################################
# SASS
########################################
.sass-cache/**

########################################
#Eclipse
########################################
*.pydevproject
.project
.metadata
bin/**
/tmp/**
/tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/**
.loadpath
/src/main/resources/rebel.xml
.factorypath
.springBeans

#External tool builders
.externalToolBuilders/**

#CDT-specific
.cdproject

#PDT-specific
.buildpath


###########################################
#Intellij
###########################################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig


#############################################
#Maven
############################################
/log/**
/target/**
*/target?**


############################################
#Gradel
############################################
.gradle/**


#############################################
#Package Files
##############################################
*.jar
*.war
*.ear
*.db

############################################
# Windows
############################################
#Windows image file caches
Thumbs.db

#Folder config file
Desktop.ini


############################################
#Mac OSx
############################################
.DS_Store
.svn

#Thumbnails
._*


#Files That Might Appear on External Disk
.Spotlight-V100
.Trashes


##########################################
#Directories
############################################
/build/**
/bin/**
/spring_loaded/**
/deploy/**

###########################################
# Logs
###########################################
*.log


###########################################
# Others
###########################################
*.class
*.*~
*~
.merge_file*


###############################################
#Gradle Wrapper
#############################################
!gradle/wrapper/gradle-wrapper.jar

############################################
#Maven Wrapper
############################################
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
/.apt_generated/


